<div class="row">
    <div class="col-md-12">
        <h1 class="inline">Uploaded Logs</h1>
        <a class="btn btn-link" href="/logs/deleteold" onclick="return confirm('Are you sure you want to delete?');">Delete
            old logs</a>
        <!--<a href="/logs/create" class="btn btn-link"><i class="fa fa-plus fa-2x"></i> </a>-->
        <table class="table table-hover">
            <tr>
                <th>Package</th>
                <th>Version</th>
                <th>Phone Brand</th>
                <th>Phone Model</th>
                <th>Date</th>
                <th class="text-center">Actions</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>{{packageName}}</td>
                    <td>{{versionName}} ({{versionCode}})</td>
                    <td>{{phoneBrand}}</td>
                    <td>{{phoneModel}}</td>
                    <td class="date">{{createdAt}}</td>
                    <td class="text-center">
                        <a href="/logs/{{id}}" class="btn btn-link"><i class="fa fa-search-plus"></i></a>
                        <a href="/logs/download/{{id}}" class="btn btn-link"><i class="fa fa-download"></i></a>
                        <a href="/logs/delete/{{id}}" class="btn btn-link"
                           onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {{/each}}
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li><a href="/logs?page={{dec page}}">Previous</a></li>
                <li><a href="/logs?page={{inc page}}">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Get Date and display as user locale
        $('.date').each(function () {
            var date = new Date($(this).html());
            $(this).html(date.toLocaleString());
        });
    });
</script>