<div class="row">
    <div class="col-md-12">
        <h1 class="inline">Uploaded Logs</h1>
        <a href="/logs/create" class="btn btn-link"><i class="fa fa-plus fa-2x"></i> </a>
        <table class="table table-hover">
            <tr>
                <th>Package</th>
                <th>Version</th>
                <th>Ticket</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {{#each data}}
                <tr>
                    <td>{{packageName}}</td>
                    <td>{{versionName}}</td>
                    <td>{{ticket}}</td>
                    <td class="date">{{createdAt}}</td>
                    <td>
                        <a href="/logs/{{id}}" class="btn btn-link"><i class="fa fa-search-plus"></i></a>
                        <a href="/logs/download/{{id}}" class="btn btn-link"><i class="fa fa-download"></i></a>
                        <a href="/logs/delete/{{id}}" class="btn btn-link"
                           onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Get Date and display as user locale
        $('.date').each(function () {
            var date = new Date($(this).html());
            $(this).html(date.toLocaleString());
        });
    });
</script>