<div class="row">
    <div class="col-md-12">
        <h1>{{packageName}} Report</h1>
        {{#if ticket}}
            <h2>Ticket {{ticket}}</h2>
        {{/if}}
        <h2> App version:{{versionName}}</h2>
        <h3 class="date">{{createdAt}}</h3>
        <div>
            <pre>
                {{logCat}}
            </pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Get Date and display as user locale
        $('.date').each(function () {
            var date = new Date($(this).html());
            $(this).html(date.toLocaleString());
        });
    });
</script>