<div class="row">
    <div class="col-md-12">
        <h1>{{packageName}} Report</h1>
        {{#if ticket}}
            <h2>Ticket {{ticket}}</h2>
        {{/if}}
        <h2> App version:{{versionName}}</h2>
        <h3 class="date">{{createdAt}}</h3>
        <h4><strong>Device Id: </strong>{{deviceId}}</h4>
        <h4><strong>Phone Model: </strong>{{phoneModel}}</h4>
        <h4><strong>User IP: </strong>{{userIp}}</h4>
        {{#if stackTrace}}
            <h3><strong>Stack Trace</strong></h3>
            <div class="well well-sm">
                {{stackTrace}}
            </div>
        {{/if}}
        {{#if logCat}}
            <div>
                <h3><strong>LogCat</strong></h3>
                <pre>
                    {{logCat}}
                </pre>
            </div>
        {{else}}
            <h3 class="txt-red">No LogCat Attached</h3>
        {{/if}}

    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Get Date and display as user locale
        $('.date').each(function () {
            var date = new Date($(this).html());
            $(this).html(date.toLocaleString());
        });
    });
</script>